# Ignore Swift Package Manager build artifacts directory
build
.build
.*-build

# Ignore SwiftPM state, such as the generated xcodeproj when opening the project directly
.swiftpm

# Ignore user state in Xcode Projects
*.xcuserdatad
UserInterfaceState.xcuserstate
xcuserdata/

# Ignore VScode workspace settings and launch configurations
.vscode

# Ignore any fixed dependency versions
Package.resolved

# Ignore general os files
.DS_Store
*.pyc

# Ignore performance test baselines
baselines.json
